public net.minecraft.client.Minecraft.func_152340_a(Ljava/io/InputStream;)Ljava/nio/ByteBuffer
public net.minecraft.client.renderer.entity.RenderPlayer func_77029_c(Lnet/minecraft/client/entity/AbstractClientPlayer;F)V
#EntityArrow
public net.minecraft.entity.projectile.EntityArrow field_145791_d #xTile
public net.minecraft.entity.projectile.EntityArrow field_145792_e #yTile
public net.minecraft.entity.projectile.EntityArrow field_145789_f #zTile
public net.minecraft.client.renderer.ItemRenderer * #therearewaytoomanyfieldstomanuallyATthemall
public net.minecraft.client.gui.GuiIngame field_73841_b #itemRenderer
public net.minecraft.entity.projectile.EntityArrow field_70252_j #ticksInGround
#EntityLivingBase
public net.minecraft.entity.EntityLivingBase func_82166_i()I #getArmSwingAnimationEnd
public net.minecraft.client.Minecraft func_147121_ag()V #rightClickMouse
#NetHandlerPlayServer
public net.minecraft.network.NetHandlerPlayServer field_147380_r #hasMoved
public net.minecraft.network.NetHandlerPlayServer field_147367_d # serverController
#Client side
#GuiContainerCreative
public net.minecraft.client.gui.inventory.GuiContainerCreative func_147053_i()V #
public net.minecraft.client.gui.inventory.GuiContainerCreative func_147050_b(Lnet/minecraft/creativetab/CreativeTabs;)V #
public net.minecraft.client.gui.inventory.GuiContainerCreative field_147058_w # selectedTabIndex
public net.minecraft.client.gui.inventory.GuiContainerCreative * #
public net.minecraft.client.gui.inventory.GuiContainer field_147008_s #
#RendererLivingEntity
public net.minecraft.client.renderer.entity.RendererLivingEntity field_77045_g #mainModel
#PlayerControllerMP
public net.minecraft.client.multiplayer.PlayerControllerMP func_78750_j()V #syncCurrentPlayItem
public net.minecraft.client.multiplayer.PlayerControllerMP * #therearewaytoomanyfieldstomanuallyATthemall
#Minecraft
public net.minecraft.client.Minecraft field_71467_ac #rightClickDelayTimer
public net.minecraft.client.Minecraft field_71429_W #leftClickCounter
public net.minecraft.client.Minecraft func_147112_ai()V #middle click
#NetHandlerPlayClient
public net.minecraft.client.network.NetHandlerPlayClient field_147299_f # gameController
#Item
public net.minecraft.item.Item field_77791_bV # itemIcon
#Render
public net.minecraft.client.renderer.entity.Render field_76990_c #renderManager
# SpecialSource needs to update to handle these.
public net.minecraft.client.gui.inventory.GuiContainerCreative$ContainerCreative
public net.minecraft.client.gui.inventory.GuiContainerCreative$CreativeSlot
public net.minecraft.client.gui.inventory.GuiContainerCreative$CreativeSlot field_148332_b # theSlot
public net.minecraft.client.settings.KeyBinding field_74512_d # keyCode
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i # guiLeft (1.6 field_74198_m)
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r # guiTop (1.6 field_74197_n)
public net.minecraft.client.gui.inventory.GuiContainer field_146999_f # xSize (1.6 field_74194_b)
public net.minecraft.client.gui.inventory.GuiContainer field_147000_g # ySize (1.6 field_74195_c)
public net.minecraft.client.gui.GuiScreen field_146292_n # buttonList (1.6 field_73887_h)
